charset-normalizer==3.4.2
flatbuffers==25.2.10
fonttools==4.58.0
idna==3.10
kiwisolver==1.4.8
numpy==1.26.4
opt_einsum==3.4.0
packaging==25.0
pillow==11.2.1
protobuf==4.25.8
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
sentencepiece==0.2.0
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
Whoosh==2.7.4
XlsxWriter==3.2.0
